#north {
	.navigation {
		@include font($line_height:$menu_lineheight);
		background: $main_darker_color;

		nav.primary {
			padding: 0 $gap_size/2;

			ul {
				.item {
					display: inline-block;

					a {
						display: inline-block;
						padding: 0 ($gap_size/2);
						color: $background_color;
						text-decoration: none;
					}

					&.selected a {
						background: $main_color;
					}
				}
			}
		}
	}
}
