extends ../_partial/document

block title
	= config.title

block north-before
	.navigation
		nav.primary.center-block
			include ../_partial/top-menu.pug

block north
	.center-block.boilerplate
		h1 #{config.title}
		h2 #{config.subtitle}
