doctype html

- var bodyClasses = {};
- bodyClasses.home = is_home();
- bodyClasses.post = is_post();
- bodyClasses.archive = is_archive();
- bodyClasses.page = !is_post() && !is_archive();

html(lang=config.language)
	head
		meta(charset="UTF-8")
		base(href=config.root)

		link(rel="stylesheet" href="design/index.css")
		script(type="javascript" src="js/fx.js")

		title
			block title
				| #{config.title}
	body(class=bodyClasses)
		#wrapper
			#north
				block north-before
				block north
				block north-after
			#main
				block main-before
				#core
					block core-before
					block core
					block core-after
				#left
					block left-before
					block left
					block left-after
				#right
					block right-before
					block right
					block right-after
				block main-after
			#south
				block south-before
				block south
					.center-block
						include footer.pug
				block south-after
