doctype html

- var bodyClasses = {};
- bodyClasses.home = is_home();
- bodyClasses.post = is_post();
- bodyClasses.archive = is_archive();
- bodyClasses.page = !is_post() && !is_archive();

html(lang=config.language)
	head
		meta(charset="UTF-8")
		base(href=config.root)
		meta(http-equiv="refresh" content="0; url=./core")
	body(class=bodyClasses)
