@import "../../../font/fira-sans-web-4.203/index.css";
@import "../../../font/fira-code/index.css";

$font_weight_normal: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;
$font_weight_black: 900;

@mixin font( $scale: 1, $size: $font_size, $line_height: 1.5, $weight: $font_weight_normal, $family: $font ) {
	$actual_font_size: $size * $scale;
	$actual_lineheight: $actual_font_size * $line_height;

	font: $weight #{$actual_font_size}/#{$actual_lineheight} $family;
}

body {
	@include font;
}

h1 {
	@include font($scale: 2, $weight: bold);
}
