@mixin centerBlock( $horizontal_padding: true, $width: $content_width ) {
	position: relative;
	box-sizing: border-box;
	max-width: $width;
	margin: auto;
	@if $horizontal_padding {
		padding-left: $gap_size;
		padding-right: $gap_size;
	}
}


body {
	background: $dark_soft_color;
	color: $background_color;
}

#north {
	background: $main_color;
	color: $background_color;
}

#north, #core, #south {
	> .center-block {
		body:not(.home) & h1 {
			@include font($scale: 2, $line_height: 1.5);
			padding: $gap_size/2 0;
		}
	}
}

.center-block {
	@include centerBlock;
}

#main {
	position: relative;
	overflow: hidden;
	background: $background_color;
	color: $text_color;
}

#core article {
	margin-top: $gap_size;
	margin-bottom: 2*$gap_size;
}

#left, #right {
	margin: $gap_size $gap_size $gap_size $gap_size;
}

body:not(.home) .boilerplate {
	display: none;
}

body:not(.with-left) #left {
	display: none;
}

body:not(.with-right) #right {
	display: none;
}

@media screen and (min-width:768px) {
	body.columns-2 {
		.columnizer {
			@include centerBlock;

			display: flex;
		}

		&.with-left #left {
			width: 25%;
			flex: 0 0 auto;
			order: 1;
			margin-left: 0;
			padding-top: $font_size * 1.66 * $default_lineheight * 2.5;
		}

		&.with-right #right {
			width: 25%;
			flex: 0 0 auto;
			order: 3;
			margin-right: 0;
		}

		#core {
			width: 75%;
			flex: 0 0 auto;
			order: 2;
		}
	}

	#main {
		min-height: 60vh;
	}
}

@media screen and (min-width:980px) {
	#north h1 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	body.columns-2 {
		&.with-left #left {
			width: 20%;
		}

		&.with-right #right {
			width: 20%;
		}

		#core {
			width: 80%;
		}
	}
}

@media screen and (min-width:1320px) {
	body:not(.home) .boilerplate {
		display: block;
	}
}
