#main {
	$code_font_size: $font_size * 0.7;

	h1 {
		@include font($scale: 2, $weight: $font_weight_bold);
		margin: 1em 0 0.5em;
	}

	h2 {
		@include font($scale: 1.66, $weight: $font_weight_bold);
		margin: 1em 0 0.5em;
	}

	h3 {
		@include font($scale: 1.5, $weight: $font_weight_bold);
		margin: 1em 0 0.5em;
	}

	h4 {
		@include font($scale: 1.3, $weight: $font_weight_bold);
		margin: 1em 0 0.5em;
	}

	article {
		p, ul, ol {
			hyphens: auto;
		}

		a {
			color: $main_color;
		}

		em {
			font-weight: $font_weight_medium;
			font-style: italic;
		}
	}

	p:not(:first-child), blockquote:not(:first-child),
	ul:not(:first-child), ol:not(:first-child),
	table:not(:first-child), form:not(:first-child), figure:not(:first-child) {
		margin-top: 0.7em;
	}

	li > ul:not(:first-child), li > ol:not(:first-child) {
		margin-top: 0;
	}

	blockquote {
		position: relative;
		overflow: auto;
		margin: 0 0 0.7em 0;
		padding: $gap_size/2;
		background: $dark_color;
		color: $background_color;
		left: -$gap_size/2;
		width: 100%;

		a {
			color: $bright_color;
			text-decoration: underline;
		}

		h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
			margin-top: 0;
		}
	}


	figure {
		position: relative;
		overflow: auto;
		margin-left: -$gap_size/2;
		margin-right: -$gap_size/2;
		padding-top: $gap_size/4;
		padding-bottom: $gap_size/4;
		background: $dark_soft_color;
		color: $background_color;

		figcaption {
			background: $dark_color;
			padding: $gap_size/4 $gap_size/2;
			margin-top: -$gap_size/4;
			font-weight: $font_weight_bold;
		}

		table {
			border-collapse: collapse;
			min-width: 100%;

			.gutter {
				vertical-align: top;
				width: 1px;
				padding-left: $gap_size/2;
				padding-right: 1em;
				text-align: right;
				opacity: 0.5
			}

			.code {
				vertical-align: top;
				padding-right: $gap_size/2;

				div:empty:after {
					content: " ";
				}
			}
		}

		pre {
			margin-top: 0;
			margin-bottom: 0;
			font: normal $code_font_size/#{$code_font_size*$default_lineheight} "Fira Code", monospace;
		}
	}

	code {
		font-family: "Fira Code", monospace;
		background: $dark_soft_color;
		color: $background_color;
		padding: 0 $gap_size/6;
	}

	strong {
		font-weight: $font_weight_black;
	}


	#core {
		ul, ol {
			padding-left: 2em;
		}

		ul li {
			list-style-type: square;
		}

		ol li {
			list-style-type: decimal;
		}
	}
}
