#wrapper #main .highlight {
	margin-top: 0.7em;
	margin-bottom: 0.7em;

	.items {
		padding: 0;
		margin-left: -$gap_size/2;
		margin-right: -$gap_size/2;

		.item {
			display: block;

			a {
				display: block;
				padding: $gap_size/2;
				text-decoration: none;

				color: $text_color;
				opacity: 0.7;
				transition: opacity 0.3s ease, color 0.3s ease;

				&:hover {
					opacity: 1.0;
					color: $main_color;
				}
			}

			p {
				text-align: justify;
				hyphens: auto;
			}

			h3 {
				margin: 0;
				font-size: $font_size*1.3;
			}
		}
	}
}

@media screen and (min-width:768px) {
	#wrapper #main .highlights {
		.items {
			display: flex;

			.item {
				width: 33.33%;
				flex: 0 0 auto;
			}
		}
	}
}
